/*------------------- Navbar----------------- */
.navbar {
  flex-direction: column;
  /* background-color: cyan; */
  width: 100%;
}

.logo {
  height: 7vh;
}

.navbar ul {
  width: 100%;
}

.navlinks li {
  margin: 0px;
}

/*---------------- Home---------------- */
#home {
  height: 63vh;
  width: 100%;
}

#home::before {
  width: 100%;
}
#home p {
  font-size: 1rem;
  padding: 0px 2px;
}

.btn {
  padding: 3px 10px;
  font-size: 0.8rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: 11px;
  border-radius: 7px;
  cursor: pointer;
}

/*---------------------- Services------------------------ */
#services-container {
  width: 100%;
}

#services {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#services .box {
  width: 100%;
  margin: 5px;
}

/*------------------------ Clients------------------------ */
#clients-section {
  width: 100%;
}

.client-items img {
  width: 40%;
  /* height: 400%; */
  margin: auto;
  display: block;
  /* background-color: red; */
}

/*---------------------- Contact US------------------ */
#contact-us {
  width: 100%;
}
.contact-box label {
  font-size: 1.1rem;
}

.contact-box form {
  width: 85%;
}

/* ---------------Footer -------------------- */

footer {
  width: 100%;
}

/*------------------- Utility classes------------------------------ */
.h-secondary {
  font-size: 1.4rem;
}

.h-primary {
  font-size: 2rem;
}
