* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* position: relative; */
}
button {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ----------------Navbar-------------------- */

.navbar {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  width: 90%;
  /* this is important because child ::before is absolute and 
  it will take this ancestor as reference  */
  /* position: relative; */
  /* If child is absolute then it can also take that ancestor as a reference whose position is sticky or relative */
  position: sticky;
  top: 0px;
  margin: auto;
  /* justify-content: space-around; */
  justify-content: space-between;
  z-index: 2;
}

/* Trick to the set the background on any elment */
.navbar::before {
  content: "";
  background-color: black;
  /* ancestor is relative and we are using it as reference */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  /* border: 12px solid black; */
}

.logo img {
  height: 100%;
  border-radius: 10%;
}

.logo {
  /* background-color: lightblue; */
  height: 10vh;
  flex-grow: 1;
}

/* .container {
  width: 200px;
  height: 200px;
  background-color: chocolate;
  margin: 100px;
  /* padding: 20px; */
/* position: relative; */
/* } */

/* .item {
  width: 100px;
  height: 100px;
  background-color: blue;
  /* margin: 100px; */
/* text-align: center; */
/* padding: 20px; */
/* margin: 20px; */
/* position: relative; */
/* } */

/* .item::before {
  content: "ehllo";
  background-color: green;
  height: 100%;
  width: 100%;
  position: absolute;
  /* display: ; */
/* border: 2px solid black;
  left: 100px; */
/* z-index: -1; */
/* } */

.navlinks {
  /* background-color: violet; */
  display: flex;
  width: 100%;
  flex-grow: 10;
  justify-content: space-between;
}
.navlinks li {
  list-style: none;
  margin: 0 10px;
}
.navlinks li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: block;
  color: white;
}
.navlinks li a:hover {
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: white;
}

/* ------------------Home section----------------*/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* setting the height of the home section */
  height: 65vh;
  /* background-color: blue; */
  width: 90%;
  margin: auto;
  /* background-color: pink; */
  text-align: center;
}

#home::before {
  position: absolute;
  content: "";
  height: 75vh;
  width: 90%;
  /* it has no parent of relative position so, I've used top = 0 */
  top: 0px;
  /* left: 65px; */
  background: url("./images/notebook-1280538_1920.jpg") no-repeat center center
    fixed;
  /* background-color: lightblue; */
  /* I used z-index = -2 because to show nav-bar's texture */
  z-index: -2;
  opacity: 0.95;
}

#home p {
  font-size: 1.2rem;
  color: white;
}

.btn {
  padding: 5px 18px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin: 17px;
  border-radius: 7px;
  cursor: pointer;
}

/*----------------- Services section -------------- */

#services-container {
  /* margin: auto; */
  /* width: 90%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: yellow; */
  border: 2px solid black;
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  border-radius: 12px;
  background-color: rgb(240, 235, 230);
}

#services-container h1 {
  /* background-color: blue; */
  color: black;
}

#services {
  /* background-color: violet; */
  /* width: 90%; */
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* setting width of img is better than setting the height of img because width is % dependent
    but you can use also heights but the height of the parent should be fixed
    otherwise it won't work because div adjusts height according to content
*/
.box img {
  /* %unit will be with respect to parent */
  width: 70%;
  /* background-color: crimson; */
}

#services .box {
  /* background-color: cadetblue; */
  background: linear-gradient(
    to bottom,
    rgb(170, 167, 167),
    rgba(250, 246, 246, 0.993)
  );
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 12px;
  padding: 5px;
}

/*---------------- Clients Section----------------- */
#clients-section {
  /* background-color: pink; */
  width: 90%;
  margin: 10px auto;
  position: relative;
  /* z-index: -1; */
  border: 2px solid black;
}

/* #clients-section h1 {
  color: black;
} */

#clients-section::before {
  /* parent is relative */
  position: absolute;
  content: "";
  height: 100%;

  width: 100%;
  /* width: 90%; */
  /* height: 40%; */
  /* margin: auto; */
  /* margin: auto 5%; */
  border-radius: 1%;
  background: url("./images/iphone-563071_1920.jpg") no-repeat center center
    fixed;
  z-index: -1;
  opacity: 0.7;
}

.clients {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* background-color: seagreen; */
}

.client-items {
  width: 33%;
  margin-bottom: 27px;
  /* background-color: purple; */
  /* height: 100%; */
  /* display: block; */
  /* margin: 0 10px; */
}

.client-items img {
  /* setting width is better than setting the height because width is % dependent
    but you can use also heights but the height of the parent should be fixed
    otherwise it won't work because div adjusts height according to content
  */
  width: 30%;
  /* height: 400%; */
  margin: auto;
  /* background-color: red; */
}

/*-------------------- Contact Us--------------- */

#contact-us {
  /* background-color: yellow; */
  position: relative;
  width: 90%;
  margin: auto;
}
#contact-us h1 {
  color: black;
}

#contact-us::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/RedPhone.jpg") no-repeat center center/cover;
  z-index: -1;
  border: 2px solid black;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
}

.contact-box form {
  width: 40%;
}

.contact-box label {
  font-size: 1.2rem;
}

/* --------------footer-------------- */

footer {
  background: black;
  padding: 12px 0px;
  color: white;
  width: 90%;
  margin: auto;
}

/*-------------- Utility classes---------- */
.h-primary {
  /* background-color: blue; */
  /* font-size: 10vw; */
  font-size: 2.8rem;
  text-align: center;
  padding: 9px;
  color: white;
}

.h-secondary {
  font-size: 1.8em;
  margin: -10px 0px 10px 0px;
}
.center {
  text-align: center;
  /* background-color: burlywood; */
}
/* ------------------------------------------- */
